%h2 Info available
%table.table
  %thead
    %tr
      %th name
      %th last deploy
      %th monitoring
      %th url
      %th 

  %tbody
    - @apps_status.each do |app|
      %tr
        %td #{app[:name]}
        %td #{app[:date] || '-'} 
        %td #{app[:monitoring] || 'NO'}
        %td #{app[:url]}
        %td 
          %form{:role => 'form-inline', :action => "", :method => "post"}
            %button{:type => "submit", :name => "action",
                    :value => "remove", :class => "btn btn-default"}X
            %input{:type =>"hidden", :name => "app", :value=> "#{app[:name]}"}




%form{:role => 'form', :action => "", :method => "post"}
  .form-group
    %label{:for => "app"} App Name:
    %input{:type =>"text", :name => "app", :class => "form-control"}
  .form-group
    %label{:for => "url"} Check URL:
    %input{:type =>"text", :name => "url", :class => "form-control"}
  
  %button{:type => "submit", :value => "Add", :class => "btn btn-default"}Add
